*{
   padding:0;
   margin:0;
   box-sizing: border-box;
   font-family: 'spartan',sans-serif;

}

h1{
    font-size:50px;
    line-height:64px;
    color: #222;
}

h2{
    font-size:46px;
    line-height:54px;
    color: #222;
}

h4{
    font-weight: 700;
    font-size: 12px;
   
}

p{
    font-size: 16px;
    color:#465b52;
    margin:15px 0 20px 0;
}

.section-p1{
  padding:40px 80px
}
.section-m1{
 margin: 40px 0;
}
body{
    overflow-x: hidden;
    height:100vh;
    width:100%

}

#header{
    position: sticky;
    top:0;
    left:0;
    background-color: white;
    Z-index:999;
}

#logo{
    margin-left:10px ;
}

nav{
    display:flex;
    justify-content:space-between;
    align-items: center;
    background-color:E3E6F3;
    box-shadow: 0px 5px 15px rgba(0,0,0,0.6);   /*0px from x , 3px from y, third is the border-radius and lastly we have color */
    padding:20px 40px;
    
    
}

nav ul{
    list-style-type: none;
    display:flex;
    justify-content: space-between;
    align-items: center;
    margin-right:2rem;
}

nav ul li{
    padding: 0 1rem;
}

nav ul li a{
color:#1a1a1a;
font-size:16px;
font-weight: 600;
text-decoration: none;
position:relative;
transition:0.2s ease-in-out;

}

nav ul li a:hover,
nav ul li a.active{
    color:#088178;

}
nav ul li a:hover::after,
nav ul li a.active::after
{
content:" ";
height:2px;
width:100%;
background-color: #088178;
position:absolute;
top:100%;
left:0;


}
#hero{
    background-image: url("images/home/lady.png");
    background-position: right 10% top 0;
    background-repeat: no-repeat;
    height:100vh;
    display:flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    margin-left: 4%;
}



#hero  h1 span{
    color: #088178;
   background-image: url("");
}
#hero p{
 font-size: 20px;
 margin-top: 30px;
 color:#aaa7a7
    }
#hero button{
    background-image: url('images/home/button.png');
    background-color: transparent;
    background-position: center;
    background-repeat: no-repeat;
    color: #088178;
    border:none;
    font-size: 16px;
    margin-top:3%;
    cursor:pointer;
    padding:5px 10px;
}


#feature{
display:flex;
   justify-content: space-between;
   align-items: center;
   gap:20px;

 
}
#feature div{
    width:180px;
    text-align: center;
    padding:30px 20px;
    border-radius: 4px;
    box-shadow: 20px 20px 36px rgba(0,0,0,0.03);
    border:1px solid #cce7d0;
    cursor:pointer;
}

#feature div:hover{
transform:scale(1.1);
box-shadow:30px 30px 40px rgba(0,0,0,0.1);
border-radius: 6px;


}
#feature h6{
    background-color: #fddde4;
    padding:6px 4px;
    line-height: 1;
    width:90px;
    margin-top: 6px;
    display:inline-block;
    color: #088178;
    
}

#feature div:nth-child(2) h6{
    background-color: #cdebbc;

}


#feature div:nth-child(3) h6{
    background-color: #d1e8f2;

}

#feature div:nth-child(4) h6{
    background-color: #cdd4f8;

}

#feature div:nth-child(5) h6{
    background-color: #f8dbf6;

}

#feature div:nth-child(6) h6{
    background-color: #fff2e5;

}
.product{
    display:grid;
    grid-template-columns: auto auto auto;
}
.product div{
    padding:10px 20px;
}
.product div img{
    width: 20px;
    height:auto;
}
.container {
    display: flex;
    gap: 10px;
  }
  
  .box:first-of-type{
    flex: 1;
    background: lightblue;
    padding: 20px;
    text-align: center;
  }
  
  #product h1, #product p{
    margin: auto;
  }

  #product {
    display: flex;
    flex-direction: column;
    align-items: center;   
    text-align: center;     
  }
  
 
  .product2{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto; /* Auto height based on content */
    gap:30px;
  }

  .product2 div:not(.stars){
    border:solid 1px #cce7d0;
    border-radius: 10px;
    text-align: left;
    cursor:pointer;
    box-shadow:20px 20px 30px rgba(0,0,0,0.05);
    margin:20px 0;
    transition:0.2s ease-in-out

  }
  .product2 div:not(.stars):hover{
    box-shadow:20px 20px 30px rgba(0,0,0,0.1);
    transform: scale(1.1)

  }

  .product2 img{
    width:100%;
    padding: 10px 20px  10px 20px;
    border-radius: 25px;
    

  }
  .pro-container{
    line-height: 23px;
    position: relative;

  }

 .pro-container .stars{
    color:orange;
    margin-left: 10px;
  }
 .pro-container h5, .pro-container h4{
    margin-left: 10px;
    margin-top: -3px;

  }
  .pro-container p{
    margin-left: 10px !important

    
  }

  .pro-container h4{
   margin-bottom: 30px !important;
   color:#088178;
   font-size: 20px;
   margin-top: 3px;


  }
  .pro-container .fa-cart-shopping{
    color:#088178;
    background-color:#cdebbc;
    border-radius: 50%;
     width:40px;
     height:40px;
     line-height: 40px;
     text-align: center;
     /* font-weight: 500; */
     border:1px solid #cce7d0;
    margin: 2% 80% 10%;
    position: absolute;
    bottom: -1px;
   left:3px;
   right:-10px;
    

  }
  #banner{
    display:flex;
    text-align:center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url;
  }

  